<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MillieApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Millie_Android"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".presentation.detail.BookDetailActivity"
            android:exported="false" />

        <activity
            android:name=".presentation.today.TodayActivity"
            android:exported="true"
            android:label="@string/title_activity_today"
            android:theme="@style/Theme.Millie_Android" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.Millie_Android">
        </activity>
        <activity
            android:name=".presentation.todayTop.TodayTopActivity"
            android:exported="false" />
    </application>

</manifest>